<div class="class">
    <h2>Animais</h2>
    <ul>
        <li *ngFor="let animal of animais">
            Nome: <a routerLink="/list/{{ animal.id }}">{{animal.name}}</a> - Tipo: {{ animal.type}}
            <button (click)="showAge(animal)">Show Age</button>
            <button (click)="removerAnimal(animal)">Excluir</button><br>
        </li>
    </ul>
    <h2>{{ aniamlDeTalls }}</h2>
    <h2>Pessoas</h2>
    <ul>
        <li *ngFor="let pessoa of pessoas">
            Nome: <a routerLink="/lista/{{pessoa.id}}">{{ pessoa.name }}</a>, Idade: {{ pessoa.idade }}
            <button (click)="removePessoa(pessoa)">Excluir</button>
        </li>
    </ul>
</div>